/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap');

/* base style */
 body{
      font-family: 'Poppins', sans-serif;
      background-color: #2D25A0;
      font-size: 82%;
      margin: 50px;
      
      
 }
 h1{
      font-size: 64px;
      color: #FFFFFF;
      
 }

nav a{
      
      text-decoration: none;
      color: white;
      font-size: 1.3em;
      margin-left: 5%;
}
.trounament-introduction {
      
      display: flex;
      justify-content: space-between; 
      align-items: center;
      margin-left: 5%;

}

.trounament-name{
      margin-bottom: 5%;
      margin-top: 10px;
      
      

}

.trounament-name img{
      width: 600px;

}
.anchor-button{
      background-color: #E02C6D;
      color: white;
      text-decoration: none;
      padding: 10px 24px;
      border-radius: 5px;
      width: 168px;
       height: 44px;

}

/* .......top players style......... */
.top-players{
     background-color: #FFFFFF;
     width: ;

}

.players{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 0px;
      
      
      
      
      
      

}
.player img{
      width: 330px;
      height: 474px;
      

}